{% extends "base.html" %}
{% block title %}Prenotazione{% endblock %}

{% block content %}
<div class="booking-box">

    <h2>Prenota skipass</h2>
    <p class="subtitle">{{ resort.name }} – {{ resort.region }}</p>

    <form method="POST" class="booking-form">

        <label for="dayfrom">Dal </label><input id = "dayfrom" name = "datefrom" type="date">
        <label for="dayto">Al </label><input id = "dayto" name="dateto" type="date">
        <label for = "count">Per quante persone?</label><input id = "count" name = "count" type="number" min ="0">

        <label>Prezzo (€)</label>
        <label>
            <input type="number" name="amount" value="50" min="0">
        </label>

        <button type="submit">Conferma prenotazione</button>
    </form>

</div>
{% endblock %}