<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title></head>
    <link rel="stylesheet" href="stylec.css">
<body>

<div id="loginSection" style="display: compact">
    <input type="text" id="usernameInput" placeholder="Username" size="50">
    <input type="password" id="passwordInput" placeholder="Password" size="50">
    <button id="loginBtn">Login</button>
    <button id="registerBtn"><a href="register.html">Register</a></button>
</div>

<script>
    document.getElementById("loginBtn").addEventListener("click", () => {
        fetch("http://localhost:3000/login", {method: "POST",
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
        username: document.getElementById("usernameInput").value,
        password: document.getElementById("passwordInput").value})
        })
    })
</script>

</body>
</html>