body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}

#loginSection{
    background-color: blue;
    text-align: center;
    object-position: center;
}

#registerSection{
    background-color: blue;
    text-align: center;
    object-position: center;
}

#usernameInput{
    padding-top: 60px;
    padding-bottom: 60px;
}
#passwordInput{
    padding-bottom: 60px;
}

input:focus{
    outline:auto;
    border:solid;
}